@import "../../styles/variables";

.primary {
	width: 100%;
	background-color: white;
}

.product_nav {
	width: 100%;
	border-bottom: 2px solid $primary-border;
	@media (max-width: $mobile-bp) {
		display: flex;
		text-align: center;
	}

	a {
		letter-spacing: 1px;
		display: inline-block;
		font-family: 'proxima nova', monospace;
		font-size: 14px;
		color: $primary-font-color;
		padding: 1rem 2.63rem;
		text-transform: uppercase;
		border-right: 2px solid $primary-border;
		transition: color .3s ease;

		&:hover {
			color: $primary-blue;
		}


		@media (max-width: $mobile-bp) {
			width: 33.333%;
			&:last-child {
				border: none;
			}
		}
	}
}


.coach_nav {
	padding: 1.5rem 2rem;
	text-align: center;

	.links {
		a {
			text-transform: uppercase;
			color: $primary-font-color;
			line-height: 1.5;
			padding: 1.5rem 1rem;
			font-family: 'proxima nova';
			font-size: 14px;
			letter-spacing: 1px;
			transition: color .3s ease;

			&:hover {
				color: $primary-blue;
			}
		}
	}
}

